/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

.msg-success {
  background-color: rgb(42, 179, 138);
  color: #fff;
}

.msg-error {
  background-color: #e35e6b;
  color: #fff;
}
